@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
}

.container{
    width: 1440px;
    height: 3818px;
    background: #fff;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: 30px;
  
}
.logo{  
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
}
.circle{
    font-size: 12px;
    font-weight: 700;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.soundtrack{
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-right: 70px;
    letter-spacing: 1px;
}
.nav{
    display: flex;
    gap: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.nav a{
    color: #000;
    text-decoration: none;  
}
.buttons{
    display: flex;
    gap: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #553C16;
    letter-spacing: 0.5px;
}
.button.s{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 589px; 
}
.button.gray{
    width: 160px;
    height: 100px;
    background: #F5F2EC;
    border-radius: 0 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    position: relative;
    width: 1360px;
    height: 900px;
    background: #c9a500;
}
.title{
    position: absolute;
    width: 498px;
    height: 302px;
    background: #c1e300;
}
.email-box{
    position: absolute;
    width: 682px;
    height: 123px;
    background: #c1e3b4;  
}
.photos{
    position: absolute;
    width: 1220px;
    height: 890px;
    background: #c166b4;
    top: 0;
    right: 0;
}